.navbar {
    width: 100%;
    padding: 20px;
}

ul {
    list-style-type: none;
    overflow: hidden;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

 li:not(.navbar-profile):not(.navbar-logo){
    
}

.navbar-logo {
    padding-right: 25px;
}

.navbar-profile {
    margin-left: auto;
}